.ul {
    list-style: inherit;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 10px;
}

.li {
    margin: 10px;
}

.flex {
    display: flex;
    width: 100%;
}

.left-part, .right-part {
    width: 45%;
    margin: 2% 5%;
}